.header-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #003049;
    -fx-padding: 10 0;
}

.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #DDE2E6;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 8, 0, 0, 2);
}

.table-view .column-header-background {
    -fx-background-color: #669BBC;
}

.table-view .column-header,
.table-view .filler {
    -fx-background-color: #669BBC;
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
}

.table-row-cell {
    -fx-font-size: 14px;
    -fx-border-color: transparent;
}

.table-row-cell:filled:selected {
    -fx-background-color: #CBE0F3;
}

.table-row-cell:odd {
    -fx-background-color: #FAFAFA;
}

.table-row-cell:even {
    -fx-background-color: #FFFFFF;
}
